
<div class="row"></div>

<div class="row">
  <div class="col s12 m8 push-m2">

    <form action="/location/response/{{request.token}}" method="post">
      <input type="hidden" name="latitude" id="hdlatitude"/>
      <input type="hidden" name="longitude" id="hdlongitude"/>
      <button class="btn-large waves-effect waves-light red" style="width: 100%" type="submit" name="action" id="uxsubmit">
        Click to share your location
        <i class="material-icons right">send</i>
      </button>
    </form>

  </div>
</div>

<div class="row" id="uxmessageholder" style="display: none;">
  <div class="col s12 m8 push-m2">
    <div class="card-panel yellow darken-1">
      <span class="flow-text" id="uxmessage">
      </span>
    </div>
  </div>
</div>

{{#if hasresponse}}
<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card teal darken-3">
      <div class="card-image">
        <a href="{{lastresponse.googlemapslink}}" target="_blank">
          <img src="{{lastresponse.googleimg}}">
        </a>
        <span class="card-title black-text">Last Response</span>
      </div>
      <div class="card-action">
        <a href="{{lastresponse.googlemapslink}}" target="_blank">Open in Google Maps</a>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card teal darken-3">
      <div class="card-content">
        <span class="flow-text white-text">There are no locations shared yet</span>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <!--<span class="card-title">Card Title</span>-->
        <p class="flow-text">Send this secure token to anyone you want to have access to your location</p>
        <blockquote style="margin-bottom:0px;">{{request.token}}</blockquote>
      </div>
      <div class="card-action">
        <a href="#" id="uxlink">Direct Link</a>
        <a href="#" id="uxsmslink">Send SMS</a>
        <a href="#" id="uxemaillink">Send Email</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card cyan darken-2">
      <div class="card-content white-text">
        <span class="card-title">Your current location</span>
        <p class="white-text">
        Latitude: <span id="uxlatitude"></span>
        <br/>
        Longitude: <span id="uxlongitude"></span>
        </p>
      </div>
    </div>
  </div>
</div>

{{#if hasresponse}}
<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card">
      <div class="card-content">
        <span class="card-title">All Responses</span>
        <p>
        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Shared</th>
            </tr>
          </thead>
          <tbody>
            {{#each responses}}
            <tr>
              <td><a href="{{googlemapslink}}" target="_blank">{{id}}</a></td>
              <td>{{latitudeRound}}</td>
              <td>{{longitudeRound}}</td>
              <td>{{createdAtString}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        </p>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="card green darken-2">
      <div class="card-content white-text">
        <span class="card-title">Token created</span>
        <p class="white-text">
        {{request.createdAt}}
        </p>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">

function init() {
  if  (!("geolocation" in navigator)) {
    return message('Geolocation is not available');
  }

  //navigator.geolocation.getCurrentPosition(location_success, location_error);
  var geo_options = {
    enableHighAccuracy: true
      //maximumAge        : 30000,
      //timeout           : 27000
  };
  var watchID = navigator.geolocation.watchPosition(location_success, location_error, geo_options);
}

function location_success(position){
  document.getElementById('uxlatitude').innerText = position.coords.latitude;
  document.getElementById('hdlatitude').value = position.coords.latitude;
  document.getElementById('uxlongitude').innerText = position.coords.longitude;
  document.getElementById('hdlongitude').value = position.coords.longitude;
  document.getElementById('uxsubmit').disabled = false;
}

function location_error(err) {
  console.log(err);
  message('Error getting location: ' + err);
}

function message(txt) {
  var e = document.getElementById('uxmessage');
  e.innerText = txt;
  e = document.getElementById('uxmessageholder');
  e.style.display = 'block';
}

init();

var el = document.getElementById('uxsmslink');
el.href = "sms:?body=" + document.location.href;
el = document.getElementById('uxemaillink');
el.href = "mailto:?body=" + document.location.href;
el = document.getElementById('uxlink');
el.href = document.location.href;

</script>
